# build directory
build
build_aarch64

# x86_64 and aarch64 executables for each service
conv-stack/bin/linux
inproc-stack/bin/linux
net-stack/bin/linux
net-driver/bin/linux
zmq-proxy/bin/linux
zmq-stack/bin/linux

